.Main
{
    display: flex;
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
    background-color:#1e37ae;
}
.Left
{
    display: block;
    position: relative;
    min-width: 5vw;
    min-height: 10vh;
}
.Right
{
    background-color: #FFFFFF;
    display: block;
    position: relative;
    min-width: 95vw;
    min-height: 100vh;
    padding-top: 5vh;
    padding-left: 5vw;
}
.Left:hover  ~ .Right
{
    animation-name: HoverR;
    animation-duration: 0.3s;
    animation-fill-mode: forwards; 
}
.Left:hover
{
    animation-name: HoverL;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}
@keyframes HoverL {
    10%   {min-width: 7vw}
    20%   {min-width: 9vw}
    30%   {min-width: 11vw}
    40%   {min-width: 13vw}
    50%   {min-width: 15vw}
    60%   {min-width: 17vw}
    70%   {min-width: 19vw}
    80%   {min-width: 21vw}
    90%   {min-width: 23vw}
    100%   {min-width: 25vw}
}
@keyframes HoverR {
    10%   {min-width: 93vw}
    20%   {min-width: 91vw}
    30%   {min-width: 89vw}
    40%   {min-width: 87vw}
    50%   {min-width: 85vw}
    60%   {min-width: 83vw}
    70%   {min-width: 81vw}
    80%   {min-width: 79vw}
    90%   {min-width: 77vw}
    100%   {min-width: 75vw}
}

