$icon-bg-color: black;
$sidebar-bg-color: #006fff;
$sidebar-color: #e1f3ff;
$sidebar-width: 25vw;
$sidebar-collapsed-width: 5vw;
$highlight-color: #000340;
$submenu-bg-color: #0083ff;
$submenu-bg-color-collapsed: #0099ff;
$icon-bg-color: #2b2b2b;
$icon-size: 35px;
$submenu-indent: 24px;
$breakpoint-xs: 480px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1600px;
@import '~react-pro-sidebar/dist/scss/styles.scss';
